body {
  text-align: center;
  background-color: lightsalmon;
}

div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: #333;
  padding: 8px;
}

.blocktext,
li {
  text-align: left;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
}

a:link.button,
a:visited.button {
  background-color: rgba(241, 241, 241, 0.952);
  color: black;
  font-size: medium;
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid lightsalmon;
  border-radius: 50px;
  margin: 3px;
  width: 14em;
}
