body {
  text-align: center;
}

ul {
  text-align: left;
  margin-left: 50%;
}

div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: #333;
  padding: 8px;
}
